* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url("./img/marvelBack1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.backCard {
  background-image: url("./img/marvelTarjeta.jpg");
}
.backModal {
  background-image: url("./img/marvelPlanet6.webp");
}
.backSubHeader {
  background-image: url("./img/marvelPlanet6.webp");
}

.letras {
  color: #eabe3f !important;
}

.letras2 {
  color: #00008b !important;
}
